<launch>
  <node name="simulator" pkg="vehicle_model" type="vehicle_sim.py" output="screen">
  <param name="record_sim_data"    type="bool"   value="false" />
  </node>

	<arg name="record_data" default="false"/>
    <arg name="bags_directory" value="/home/auto/Desktop/autonomus_vehicle_project/project/development/proto/vehicle_model/workspace/src/vehicle_model/data/data_record"/>


    <!-- Record bag -->
    <node name="bag_record" pkg="rosbag" type="record"
        args="record -o $(arg bags_directory)"
        if="$(eval record_data)"/>
</launch>
