*.npy
*.pdf
*.odt
*.bag
record_data
./src/plotter/data
./src/observer/datay
./src/vehicle_sensors/rplidar_new
build
logs
devel
ssty.arduino
.catkin_tools/
.catkin_workspace


error.txt
log.txt
nano.save
nano.save.1
out.txt
sim.log
stty.arduino
