<launch>

    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters-->
    
    <?ignore
    <param name="m"             type="double"   value="2.424" />
    <param name="rho"             type="double"   value="1.225" />    
    <param name="lr"            type="double"   value="0.1203" />
    <param name="lf"            type="double"   value="0.1377" />
    <param name="Cm0"            type="double"   value="9.46853" />
    <param name="Cm1"            type="double"   value="0.667237" />
    <param name="C0"            type="double"   value="2.61049" />
    <param name="C1"            type="double"   value="-0.00213596" />
    <param name="Cd_A"            type="double"   value="-0.466602" />
    <param name="Caf"            type="double"   value="1.3958" />
    <param name="Car"            type="double"   value="1.6775" />
    <param name="Iz"            type="double"   value="0.02" />
    ?>

    <!-- Variables limits-->

    <param name="max_vel"           type="double"   value="4.0" />
    <param name="min_vel"           type="double"   value="-0.1" />
    <param name="dutycycle_max"     type="double"   value="1.0" />
    <param name="dutycycle_min"     type="double"   value="-0.0" />
    <param name="steer_max"         type="double"   value="0.349" />
    <param name="steer_min"         type="double"   value="-0.349" />
    <param name="lat_e_max"         type="double"   value="0.25" />   <!-- like halfWidth-->
    <param name="orient_e_max"      type="double"   value="0.5" />


    <!-- PLANNER    -->
    <param name="duty_th"       type="double"   value="0.05" />  <!-- deadzone where the wheel doesn't rotate -->
    <param name="planning_mode" type="int"      value="2" />
    <param name="halfWidth"     type="double"   value="0.25" />
    <param name="trackShape"    type="str"      value="oval_iri" />



    <!-- CONTROL -->
    
    <node pkg="controller"      type="controllerMain.py"    name="control" output="screen">

        <param name="Horizon"           type="int"      value="20" />
        <param name="Hz"                type="double"   value="50" />
        <param name="vel_ref"           type="double"   value="0.60"/>
        <param name="integral_action"   type="bool"     value="false"/>
        <param name="soft_constraints"  type="bool"     value="false"/>
        

    </node>

</launch>
