<launch>

  <node name="keyboard_control" pkg="manual_control" type="manual_input.py" output="screen">
  <param name="record_data"    type="bool"   value="false" />
  </node>


	<arg name="record_data" default="true"/>
    <arg name="bags_directory" value="/home/felix/Desktop/ws_IRI/src/deployed_vehicle_code/src/manual_control/data/data_record"/>


    <!-- Record bag -->
    <node name="bag_record" pkg="rosbag" type="record"
        args="record -a -o $(arg bags_directory)"
        if="$(eval record_data)"/>
</launch>
